/* Custom TipTap Text Styles */

.custom-blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #666;
    font-style: italic;
    margin: 1rem 0;
}
.font-size-large {
  font-size: 1.25rem;
}

.font-size-30 {
  font-size: 1.875rem;
}
