// ============================================
// NordexFood Utilities
// ============================================

// Utility: font-weight-black
.font-weight-black {
  font-weight: 900 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 500 !important;
}

.font-weight-light {
  font-weight: 400 !important;
}
.font-weight-lighter {
  font-weight: 300 !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.max-width-100 {
  max-width: 100% !important;
}
.rounded-edges {
  border-radius: 0.8rem !important;
}
// Brand color utilities
.bg-red { background-color: $nordex-red !important; }
.bg-orange { background-color: $nordex-orange !important; }
.bg-cream { background-color: $nordex-cream !important; }
.bg-beige { background-color: $nordex-beige !important; }
.bg-brown { background-color: $nordex-brown !important; }
.bg-dark-brown { background-color: $nordex-dark-brown !important; }
.bg-gold { background-color: $nordex-gold !important; }
.bg-green { background-color: $nordex-green !important; }
.bg-blue { background-color: $nordex-blue !important; }
.bg-cream-alt { background-color: $nordex-cream-alt !important; }
.bg-light-brown { background-color: $nordex-light-brown !important; }
.bg-light-blue { background-color: $nordex-light-blue !important; }
.bg-orange-light { background-color: $nordex-orange-light !important; }
.bg-orange-lighter { background-color: $nordex-orange-lighter !important; }
.bg-orange-alt2 { background-color: $nordex-orange-alt2 !important; }
.bg-light-grey { background-color: $nordex-light-grey !important; }
.bg-grey { background-color: $nordex-grey !important; }
.bg-dark-grey { background-color: $nordex-dark-grey !important; }

.text-red { color: $nordex-red !important; }
.text-orange { color: $nordex-orange !important; }
.text-cream { color: $nordex-cream !important; }
.text-beige { color: $nordex-beige !important; }
.text-brown { color: $nordex-brown !important; }
.text-gold { color: $nordex-gold !important; }
.text-green { color: $nordex-green !important; }
.text-blue { color: $nordex-blue !important; }
.text-cream-alt { color: $nordex-cream-alt !important; }
.text-light-blue { color: $nordex-light-blue !important; }

.overflow-hidden {
  overflow: hidden !important;
}
.font-size-small {
  font-size: 0.8rem !important;
}
.font-size-medium {
  font-size: 1rem !important;
}
.font-size-large {
  font-size: 1.25rem !important;
}
.font-size-14 {
  font-size: 0.875rem !important;
}
.font-size-15 {
  font-size: 0.9375rem !important;
}
.font-size-30 {
  font-size: 1.875rem !important;
}
.font-size-50 {
  font-size: 3.125rem !important;
}
.text-underline {
  text-decoration: underline !important;
}
.chevron-before {
  position: relative;
  padding-left: 1.2em !important;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0.3em;
    top: 50%;
    transform: translateY(-50%) rotate(-135deg);
    width: 0.30em;
    height: 0.30em;
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
  }
}
.opacity-40 {
  opacity: 0.4 !important;
}
.text-align-end {
  text-align: end !important;
}

.z-index-1 {
  z-index: 1 !important;
}