// ============================================
// Quote Component Styles
// ============================================

.quote-block {
  padding: $spacer 0; // 64px
  position: relative;
}

.quote-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.quote-image-container {
  text-align: center;
  margin-bottom: $spacer * 2; // 32px
}

.quote-image {
  width: 180px;
  height: 180px;
  object-fit: cover;


}

.quote-content {
  text-align: left;
}

.quote-text {
  font-size: $font-size-base * 1.5; // 1.5rem
  line-height: 2.5rem;
  // 40px in rem: 2.5rem
  margin: 0 0 $spacer * 1.5 0; // 24px bottom margin
  position: relative;
  
}

.quote-mark-open,
.quote-mark-close {
  font-size: $font-size-base * 8; // 4rem
  font-weight: $font-weight-bold;

  color: $nordex-red;
  position: absolute;
  font-family: $font-family-serif;
}

.quote-mark-open {
  top: -2.5rem;
  left: -0.5rem;
  
}
.gradient-overlay-left-right-transparent-currentcolor {
  background: linear-gradient(
    to right,
    transparent 0%,
    currentColor 100%
  ) !important;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  pointer-events: none;
  width: 90px;
}


.quote-body {
  position: relative;
  z-index: 1;
}

.quote-author {
  font-size: $font-size-base * 1.1; // 1.1rem
  font-weight: $font-weight-semibold;
  font-style: normal;
  display: block;
  margin-top: $spacer; // 16px

  .author-dash {
    margin-right: $spacer * 0.5; // 8px
  }
}

// Responsive adjustments
@include media-breakpoint-down(md) {
  .quote-block {
    padding: $spacer * 2.5 0; // 40px
  }
  
  .quote-text {
    font-size: $font-size-base * 1.25; // 1.25rem
    padding: 0 $spacer; // 16px horizontal padding
  }
  
  .quote-image {
    width: 120px;
    height: 120px;
  }
  
  .quote-content {
    text-align: center;
  }
  

}

@include media-breakpoint-up(lg) {
  .quote-content {
    padding-left: $spacer * 2; // 32px
  }
  
  .quote-image-container {
    margin-bottom: 0;
  }
}
