@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Strings
@model Umbraco.Cms.Core.Models.Blocks.BlockGridItem

@{
    var content = Model.Content;
    var settings = Model.Settings;
    
    // Get the rich text content
    var richTextContent = content.Value<IHtmlEncodedString>("content");
    
    var sectionClasses = "container rich-text-block py-5";
}

<section class="@sectionClasses">

        <div class="row justify-content-center">

                @if (richTextContent != null && !string.IsNullOrWhiteSpace(richTextContent.ToString()))
                {
                    <div class="rich-text-content text-brown">
                        @Html.Raw(richTextContent)
                    </div>
                }
                
            </div>

</section>
